<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/" class="nav-element">Home</a>
        <a href="/posts" class="nav-element">Posts</a>
        <a href="/posts/new" class="nav-element"> Write</a>

        <!-- Login / Logout -->
        <% if (loggedIn) { %>
            <a href="/profile" class="nav-element">Profile</a>
            <a href="/logout" class="nav-element">Logout</a>
        <% } else { %>
            <a href="/login" class="nav-element">Login</a>
        <% } %>
    </nav>
</body>
</html>