<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
<style>
#page-not-found {
text-align: center;
font-family: Arial, sans-serif;  
margin: 50px;
}

h1 {
font-size: 3em;
color: #666; 
}

p {
font-size: 1.2em;  
color: #333; 
}
</style>
</head>
<body>
    <header>
        <%- include('./components/header.html', {loggedIn: loggedIn}) %>
    </header>
    <div id="page-not-found">
        <h1>Whoops! Page not FOUND.</h1>
        <p>The page you requested was not found on our server.</p>
    </div>
</body>
</html>