<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<style>
#page-not-found {
text-align: center;
font-family: Arial, sans-serif;  
margin: 50px;
}

h1 {
font-size: 3em;
color: #666; 
}

#page-not-found p {
font-size: 1.2em;  
color: #333; 
}
</style>
</head>
<body>
    <header>
        <%- include('./components/header.html', {loggedIn: loggedIn}) %>
    </header>
    <div id="page-not-found">
        <h1>Whoops! Page not FOUND.</h1>
        <p>The page you requested was not found on our server.</p>
    </div>
    <footer>
        <%- include('./components/footer.html') %>
    </footer>
</body>
</html>