<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">


    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        .postForm {
            width: 60%;
        }
    </style>
</head>

<body>
    <div class="mainFrame">

        <!-- <header> -->
        <%- include('./components/header.html', {loggedIn: loggedIn}) %>


            <form class="postForm" action="/posts/new" method="post" enctype="multipart/form-data">
                <h3>Create a new post</h3>
                <% if (failed) { %>
                    <div class="error-message" %>>
                          <%= notImage ? "Only .png, .jpg and .jpeg format allowed!" : "Error creating post, please try again" %>
                    </div>
                    <hr>
                <% } %>
                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" required>
                </div>
                <div>
                    <label for="content">Content</label><br>
                    <textarea name="content" id="content" cols="30" rows="10" required></textarea>
                </div>
                <div>
                    <label for="image">Image</label>
                    <input type="file" name="file" id="image" required>
                </div>
                <button>Post</button>
            </form>
            <div class=<%=failed ? "" : "noDisplay" %>>
                <hr>
                <p>
                    Error creating post, please try again
                </p>
            </div>

            <!-- footer -->
            <%- include('./components/footer.html') %>

    </div>
</body>

</html>