<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        .register,
        .register:link,
        .register:visited,
        .register:hover,
        .register:active {
            color: #FFF;
            background-color: #000;
            padding: 7px;
        }

        .loginBody {
            width: 50%;
            min-width: 300px;

            display: flex;
            flex-direction: column;
         
        }


    </style>
</head>

<body>

    <div class="mainFrame">
       
            <%- include('./components/header.html', {loggedIn: loggedIn}) %>

        <div class="loginBody">
            <form action="/login" method="post">

                <h3>LOGIN</h3>
                <% if (failed) { %>
                    <div id="loginFailed" class="error-message">
                        <label>Login failed - Please try again</label>
                    </div>
                    <hr>
                <% } %>
        
                <div class="form-element">
                    <label>email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-element">
                    <label>password:</label>
                    <input type="password" name="password" id="password" required>
                </div>    
                <button type="submit">Login</button>
            </form>
            <div>
                Don't have an account? <a href="/registration" class="register">Register</a>
            </div>


            <div id="loginFailed" class=<%=failed ? "" : "noDisplay" %>>
                <hr>
                <label>Login failed - Please try again</label>
            </div>

        </div>


            <!-- footer -->
            <%- include('./components/footer.html') %>
        

    </div>
</body>

</html>