<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .register,
        .register:link,
        .register:visited,
        .register:hover,
        .register:active{
            color: #FFF;
            background-color: #000;
            padding: 7px;
        }
    </style>
</head>

<body>
    <header>
        <%- include('./components/header.html', {loggedIn: loggedIn}) %>
    </header>

    <div>
        <form action="/login" method="post">

            <h3>LOGIN</h3>
            <% if (failed) { %>
                <div id="loginFailed" class="error-message">
                    <label>Login failed - Please try again</label>
                </div>
                <hr>
            <% } %>
    
            <div class="form-element">
                <label>email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-element">
                <label>password:</label>
                <input type="password" name="password" id="password" required>
            </div>    
            <button type="submit">Login</button>
        </form>
        <div>
            Don't have an account? <a href="/registration" class="register">Register</a>
        </div>
    </div>

    <footer>
        <%- include('./components/footer.html') %>
    </footer>

</body>

</html>