<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>

<style>
    .most-popular-posts,
    .latest-posts {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
</style>


<body>
    <div class="mainFrame">

        <!-- Header -->
            <%- include('./components/header.html', {loggedIn: loggedIn}) %>


        <main class="home-page main-container">
            <div class="most-popular-posts-container">
                <h3>Popular Articles</h3>
                <div class="most-popular-posts">
                    <% for( let post of popular ) { %>
                        <%- include('./components/postCard.html', {post}) %>
                            <% } %>
                </div>
            </div>
            <div class="latest-posts-container">
                <h3>Latest Articles</h3>
                <div class="latest-posts">
                    <% for( let post of latest ) { %>
                        <%- include('./components/postCard.html', {post}) %>
                            <% } %>
                </div>
            </div>
        </main>


        <!-- footer -->
        <%- include('./components/footer.html') %>

    </div>
</body>

</html>