<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .post-page-image figure img{
            max-height: 300px;
        }
    </style>
</head>
<body>
    <header>
        <%- include('./components/header.html', {loggedIn: loggedIn}) %>
    </header>
    
    <div class="post-page">
        <h4><%= post.title %></h4>
        <div class="post-page-image">
            <figure>
                <img src="<%= `/uploads/${post.imageUrl}` %>" alt="illustrative image">
            </figure>
        </div>
        <p> <%= post.content %> </p>
    </div>
</body>
</html>