<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" href="/css/main.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="mainFrame">

        <!-- <header> -->
            <%- include('./components/header.html', {loggedIn: loggedIn}) %>

            <form action="/registration" method="post">

                <h3>CREATE AN ACCOUNT</h3>
    
                <% if (emailUsed) { %>
                    <div id="loginFailed" class="error-message" %>>
                        <label>Registration failed - Email already used.</label>
                    </div>
                    <hr>
                <% } %>
        
                <div class="form-element">
                    <label>Name*:</label>
                    <input type="text" name="username" id="username" required placeholder="Enter your full name">
                </div>
                <div class="form-element">
                    <label>Email*:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-element">
                    <label>Password*:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Register</button>
            </form>

        <div id="loginFailed" class=<%=emailUsed ? "" : "noDisplay" %>>
            <hr>
            <label>Registration failed - Email already used.</label>
        </div>


        <!-- <footer> -->
            <%- include('./components/footer.html') %>

    </div>
</body>

</html>